<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chat.gpt.speakwise.gpt3.ai.chatbot">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.Ad_ID" />

    <application
        android:name=".app.Application.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpeakWiseAI">

        <meta-data
            android:name="com.startapp.sdk.APPLICATION_ID"
            android:value="206104098" />


        <receiver
            android:name=".app.Utils.AppWidgetSmall"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/small_app_widget_info" />
        </receiver>

        <receiver
            android:name=".app.Utils.AppWidgetLarge"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/large_app_widget_info" />
        </receiver>

        <activity
            android:name=".app.Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4125120108950748~6099014964" />

        <activity
            android:name=".app.Activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".app.Activities.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
    </application>

</manifest>